services:
  postgresql-master:
    image: postgres:17.2-alpine3.21
    container_name: postgresql-master
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=pgadmin
      - POSTGRES_DB=test
    ports:
      - "5432:5432"
    volumes:
      - ./pg-master-data:/var/lib/postgresql/data
      - ./init-scripts/master/01-init-master.sh:/docker-entrypoint-initdb.d/01-init-master.sh
    restart: always

  postgresql-slave:
    image: postgres:17.2-alpine3.21
    container_name: postgresql-slave
    depends_on:
      - postgresql-master
    environment:
      - POSTGRES_USER=replicator
      - POSTGRES_PASSWORD=replicator_password
      - POSTGRES_DB=test
    ports:
      - "5433:5432"
    volumes:
      - ./pg-slave-data:/var/lib/postgresql/data
      - ./init-scripts/slave/entrypoint.sh:/usr/local/bin/custom-entrypoint.sh
    entrypoint: ["custom-entrypoint.sh"]
    command: ["postgres"]
    restart: always

volumes:
  pg-master-data:
  pg-slave-data:
