services:
  # Keycloak service
  # This service builds the Keycloak image from the Dockerfile in the current directory
  keycloak:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - ./keycloak-realm.json:/tmp/keycloak-realm.json    
    networks:
      - keycloak-network
    depends_on:
      - postgres
  # PostgreSQL database service
  postgres:
    image: postgres:17.2-alpine3.21
    env_file:
      - .env
    ports:
      - "5432:5432"
    networks:
      - keycloak-network

networks:
  keycloak-network:
    driver: bridge